[submodule "dehydrated"]
	path = dehydrated
	url = https://github.com/lukas2511/dehydrated
[submodule "hooks/cloudflare"]
	path = hooks/cloudflare
	url = https://github.com/kappataumu/letsencrypt-cloudflare-hook
